<mat-card>
    <label for="pregunta">
        <h3>Agregar Preguntas</h3>
    </label>
    <mat-form-field appearance="fill" class="full-width">
        <textarea matInput placeholder="Texto pregunta..." id="pregunta" name="pregunta" [(ngModel)]="pregunta"
            required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo Pregunta</mat-label>
        <mat-select [(ngModel)]="tipoPregunta" name="tipoPregunta" required>
            <mat-option *ngFor="let tipo of tiposPregunta" [value]="tipo.value">
                {{ tipo.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="tipoPregunta == 'OPCIONSIMPLE' || tipoPregunta == 'OPCIONMULTIPLE'">
        <div>

            <mat-form-field class="chip-list" appearance="fill">
                <mat-label for="opcion">Agregar Opción</mat-label>
                <mat-chip-list #listaOpciones aria-label="Opciones">
                    <mat-chip *ngFor="let opcion of opciones" (removed)="borrarOpcion(opcion)">
                        {{opcion.OpcionTexto}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="Nueva opción..." [matChipInputFor]="listaOpciones"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="agregarOpcion($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>

    </div>
    <p>
        <mat-slide-toggle (change)="onChange()" [(ngModel)]="requerida" name="requerida">Requerida
        </mat-slide-toggle>
    </p>
    <p>
        <button mat-raised-button mat-mini-fab [disabled]="!validarPregunta()" (click)="agregarNuevaPregunta(pregunta)">
            <mat-icon> add </mat-icon>
        </button>
    </p>
</mat-card>