<div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div *ngIf="mostrarCrearEncuesta">
        <h1>Nueva encuesta</h1>
        <h2>Aquí se define una nueva encuesta</h2>
        <form #formNuevaEncuesta="ngForm" #eform="ngForm">
            <mat-card>
                <label for="nombreEncuesta">
                    <h3>Nombre de la encuesta</h3>
                </label>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Nombre encuesta..." id="nombreEncuesta" name="nombreEncuesta" ngModel
                    required></textarea>
            </mat-form-field>
        </mat-card>
        <mat-card>
            <label for="objetivoEncuesta">
                <h3>Defina un objetivo</h3>
            </label>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Objetivo encuesta..." id="objetivoEncuesta" name="objetivoEncuesta"
                ngModel required></textarea>
            </mat-form-field>
        </mat-card>
        
        <mat-form-field appearance="fill">
            <mat-label>Período de la encuesta</mat-label>
            <mat-date-range-input [formGroup]="rango" [rangePicker]="picker">
                <input matStartDate formControlName="comienzo" placeholder="Comienzo" />
                <input matEndDate formControlName="fin" placeholder="Fin" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            
            <mat-error *ngIf="rango.controls.comienzo.hasError('matStartDateInvalid')">Ingrese un comienzo válido
            </mat-error>
            <mat-error *ngIf="rango.controls.fin.hasError('matEndDateInvalid')">Ingrese un fin válido</mat-error>
        </mat-form-field>
        
        <mat-card>
            <label>
                <h3>Agregar Preguntas</h3>
            </label>
            <mat-form-field appearance="fill" class="full-width">
                <textarea matInput placeholder="Texto pregunta..." id="pregunta" name="pregunta" [(ngModel)]="pregunta"
                required></textarea>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Tipo Pregunta</mat-label>
                <mat-select [(ngModel)]="tipoPregunta" name="tipoPregunta" required>
                    <mat-option *ngFor="let tipo of tiposPregunta" [value]="tipo.value">
                        {{ tipo.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p>
                <mat-slide-toggle (change)="onChange()" [(ngModel)]="requerida" name="requerida">Requerida
                </mat-slide-toggle>
            </p>
            <p>
                <button mat-raised-button mat-mini-fab [disabled]="!validarPregunta()"
                (click)="agregarNuevaPregunta(pregunta)">
                <mat-icon> add </mat-icon>
            </button>
        </p>
    </mat-card>
    
    <div *ngIf="nuevasPreguntas.length > 0">
        <mat-card cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let pregunta of nuevasPreguntas" cdkDrag [cdkDragData]="pregunta">
                {{ pregunta.TextoPregunta }}
                <button mat-mini-fab class="btn-borrar-pregunta"
                style="float: right; cursor: pointer; line-height: 0px" (click)="borrarPregunta(pregunta)">
                <span>
                    <mat-icon>delete_outline</mat-icon>
                </span>
            </button>
        </div>
    </mat-card>
</div>

<div>
    <button [disabled]="!validarEncuesta(formNuevaEncuesta)" class="button-submit" mat-raised-button
    type="submit" color="accent" (click)="onSubmit(formNuevaEncuesta)">
    Finalizar
</button>
</div>
</form>
</div>

<div *ngIf="!mostrarCrearEncuesta" class="container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
<div>
    <app-vista-previa-encuesta [nuevaEncuesta]="nuevaEncuesta"></app-vista-previa-encuesta>
    <!-- GO BACK -->
    <button mat-raised-button (click)="volverCrearEncuesta()">
        Volver
    </button>
</div>
</div>

</div>