<div *ngIf="encuesta" class="container" fxLayout="column" fxLayout.sm="column" 
    fxLayout.xs="column" fxLayoutAlign="center center"
        fxLayoutGap="10px" fxLayoutGap.xs="0" style="padding-top: 15px;">
        <mat-card-title>
            Resultados de: {{encuesta.Denominacion}}
        </mat-card-title>

        <h2>Total de encuestados: {{encuesta.CantidadEncuestados}}</h2>


    <div *ngIf="!resultadoEncuesta">Por el momento no existen resultados para esta encuesta.

    </div>

    <div *ngIf="resultadoEncuesta">
        <mat-tab-group>
            <div *ngFor="let pregunta of resultadoEncuesta.Preguntas">
                <mat-tab label={{pregunta.TextoPregunta}}>
                    <mat-card>
                        <h4>
                            Tipo: {{pregunta.Tipo}}
                        </h4>
                        <div *ngFor="let result of pregunta.Resultados">
                            {{result.Texto}}: {{result.Valor}}
                        </div>
                    </mat-card>
                </mat-tab>
            </div>
        </mat-tab-group>

        <!-- GO BACK -->
    </div>
        <button mat-raised-button (click)="volver()">Volver</button>
</div>