  <ngx-charts-bar-vertical-2d
  (window:resize)="onResize($event)"
    [scheme]="colorScheme"
    [view]="view"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legendTitle]="legendTitle"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMax]="yScaleMax"
    >
  </ngx-charts-bar-vertical-2d>