<div *ngIf="!encuestas" class="spinner-wrapper">
  <mat-spinner color="warn" class="mat-spinner"></mat-spinner>
  <h4>Cargando encuestas...</h4>
</div>

<div *ngIf="encuestas" class="dashboard-container">
  <h1>Seleccione una encuesta</h1>

  <div
    fxLayout="row wrap"
    fxLayoutGap="25px"
    fxLayout="row wrap"
    fxLayoutAlign="flex-start"
    fxLayout.sm="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="0"
  >
    <mat-card
      fxFlex="0 1 calc(33.3% - 25px)"
      fxFlex.lt-md="0 1 calc(50% - 35px)"
      fxFlex.lt-sm="100%"
      class="card-encuesta"
      *ngFor="let encuesta of encuestas"
      appHighlight
    >
      <button
        style="align-self: flex-end"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="menu-encuesta"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item> -->
        <a
          mat-menu-item
          class="ver-encuesta"
          href="https://formularioencuesta-develop.azurewebsites.net/EncuestasOpen/{{
            encuesta.EncuestaID
          }}"
          target="_blank"
          ><mat-icon>open_in_new</mat-icon>Ver encuesta</a
        >
        <!-- </button> -->
        <button
          class="boton-publicar"
          mat-menu-item
          *ngIf="encuesta.Estado == 'BORRADOR'"
          (click)="publicarEncuesta(encuesta)"
        >
          <mat-icon>rocket_launch</mat-icon>
          <span>Publicar encuesta</span>
        </button>
        <button
          class="boton-publicar"
          mat-menu-item
          *ngIf="encuesta.Estado == 'PUBLICADA'"
          (click)="desactivarEncuesta(encuesta)"
        >
          <mat-icon>rocket</mat-icon>
          <span>Desactivar encuesta</span>
        </button>
        <!-- <button mat-menu-item>
          <mat-icon>notifications_on</mat-icon>
          <span>Activar alertas</span>
        </button> -->
      </mat-menu>
      <div class="card-header">
        <mat-card-header class="card-header">
          <mat-card-title>{{ encuesta.Denominacion }}</mat-card-title>
        </mat-card-header>
        <div>
          <mat-card-subtitle class="card-subtitle"
            >Estado: {{ encuesta.Estado }}</mat-card-subtitle
          >
        </div>
      </div>
      <mat-card-content class="card-content">
        <p>Inicio: {{ encuesta.FechaInicio | date: "shortDate" }}</p>
        <p>Fin: {{ encuesta.FechaFin | date: "shortDate" }}</p>
      </mat-card-content>

      <div>
        <mat-card-actions
          class="boton-resultados"
          fxLayoutAlign="space-between end"
        >
          <button
            mat-button
            class="boton-encuesta"
            [routerLink]="['/dashboard/resultados', encuesta.EncuestaID]"
          >
            <mat-icon>bar_chart</mat-icon>
          </button>
          <button
            class="boton-encuesta"
            mat-button
            [routerLink]="['/dashboard/editar-encuesta', encuesta.EncuestaID]"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
