<div *ngIf="!encuestas" class="spinner-wrapper">
    <mat-spinner color="warn" class="mat-spinner"></mat-spinner>
    <h4>Cargando encuestas...</h4>
</div>

<div *ngIf="encuestas" fxLayout="row wrap" fxLayoutGap="25px" fxLayout="row wrap" fxLayoutAlign="flex-start"
        fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="0">
            <mat-card fxFlex="0 1 calc(33.3% - 25px)" fxFlex.lt-md="0 1 calc(50% - 35px)" fxFlex.lt-sm="100%"
            class="card-encuesta" *ngFor="let encuesta of encuestas" appHighlight
            [routerLink]="['/dashboard/Resultados', encuesta.EncuestaID]">
            <mat-card-title>{{ encuesta.Denominacion}}</mat-card-title>
            <mat-card-subtitle>Estado: {{encuesta.Estado}}</mat-card-subtitle>
            <mat-card-content>
                <p>
                    Inicio: {{encuesta.FechaInicio | date}}
                    Finalización: {{encuesta.FechaFin | date}}
                </p>
            </mat-card-content>
        </mat-card>
</div>