mat-card-title{
    font-size: 16px;
}

.chip-etiqueta-container{
    display: flex;
    flex-direction: row;
}

.chip-etiqueta{
    margin-right: 8px;
}

.etiqueta-atencion{
    background-color: #5AA454;
}

.etiqueta-ambiente{
    background-color: #C7B42C;
}

.etiqueta-comida{
    background-color: #AAAAAA;
}

.etiqueta-precio{
    background-color: #A10A28;
}

.etiqueta-vino{
    background-color: #33A4FF;
}
