<div class="container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center"
    fxLayoutGap.xs="0">
    <h1>Registro de usuario</h1>
    <h2>Aquí se permite crear un nuevo usuario</h2>
    <form novalidate fxLayout="column" [formGroup]="formRegistro!" (ngSubmit)="clickRegister()">
        <mat-form-field appearance="outline">
            <mat-label>Nombre y apellido</mat-label>
            <input matInput formControlName="username" />
            <mat-icon class="material-icons-outlined" matSuffix>account_circle_outline</mat-icon>
            <mat-error>
                {{ getError('username') }}
            </mat-error>
        </mat-form-field>

        <!--email  -->
        <mat-form-field  appearance="outline" color="primary">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                placeholder="Ej. ejemplo@ejemplo.com">
                <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="formRegistro!.controls['email'].hasError('email')">
                Por favor, ingrese una dirección de correo válida
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contrase&ntilde;a</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-icon matSuffix>password</mat-icon>
            <mat-error>
                {{ getError('password') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Repetir contrase&ntilde;a</mat-label>
            <input type="password" matInput formControlName="repeatPassword" />
            <mat-icon matSuffix>password</mat-icon>
            
        </mat-form-field>
        <button mat-raised-button color="warn" type="submit" [disabled]="formRegistro!.invalid">Registrar</button>
    </form>
    <!-- GO BACK -->
    <p>
        <button mat-raised-button class="volver-button" (click)="volver()">
            Volver
        </button>
    </p>
</div>